# Auto detect text files and perform LF normalization
* text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

# files part of the build
*.asm text
*.link text
*.txt text

# extra files
*.md text
*.py text
